::-moz-selection{background: #edd114; color: #fff; text-shadow: none;}
::selection {background: #edd114; color: #fff; text-shadow: none;}
a:link {-webkit-tap-highlight-color: #edd114;}

p.plus {
  font-size: 60px;
  margin-bottom: 0;
}

.header {
  margin-bottom: 70px;
}

.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  margin: 30px auto;
  max-width: 500px;
}

.card img {
  border-radius: 5px;
  margin: 0px auto !important;
  width: 100%;
}
